<a href="https://colab.research.google.com/github/edmanabc/Avado-Python-Exercise2/blob/main/Python_workshop2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=11
if x%2==0:
  print("This is an even number")
else:
  print("This is not an event number")

This is not an event number

: or colon at the end of a line makes it a statement.
one equal = sign means "set the value of a to the same as b"

two equal == signs mean "do a and b have the same value? True/False"

In [ ]:
a=15
b=12
if a==b:
  print("The two numbers are equal")
elif a>b:
  print("The first number if greater than the second")
else:
  print("The first number is smaller than the second")

The first number if greater than the second

Google what elif is above.

Come up with a code to check whether a number is positive, negative or 0

In [ ]:
a=0.1
if a>0:
  print("The number is positive")
elif a<0:
  print("The number is negative")
else:
  print("The number is equal to zero")

The number is positive

In [ ]:
for i in range(0,12):
  print("The iteration is {}".format(i))
print("The end")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The iteration is 6
The iteration is 7
The iteration is 8
The iteration is 9
The iteration is 10
The iteration is 11
The end

I think this is full loop??

The last value in the range is always ignored.

In [ ]:
a=1
while a<6:
  print(a)
  a=a+1
print("The end!")

1
2
3
4
5
The end!

In [ ]:
targetvalue=10
iteration=0
while iteration <targetvalue:
  print("The iteration number is {}, which is less than the target value {}".format(iteration, targetvalue))
  iteration=iteration+1
print("The end")

The iteration number is 0, which is less than the target value 10
The iteration number is 1, which is less than the target value 10
The iteration number is 2, which is less than the target value 10
The iteration number is 3, which is less than the target value 10
The iteration number is 4, which is less than the target value 10
The iteration number is 5, which is less than the target value 10
The iteration number is 6, which is less than the target value 10
The iteration number is 7, which is less than the target value 10
The iteration number is 8, which is less than the target value 10
The iteration number is 9, which is less than the target value 10
The end

No idea what the above is about!

Nested loops are below

In [ ]:
for i in range(1,6): #outer loop
  for j in range(1,11): #inner loop
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [ ]:
colours=["blue", "red", "yellow"]
cars=["BMW", "Mercedes", "Audi"]
for colour in colours: #outer loop
  for car in cars: #inner loop
    print(colour, car)

blue BMW
blue Mercedes
blue Audi
red BMW
red Mercedes
red Audi
yellow BMW
yellow Mercedes
yellow Audi

Break statement below

In [ ]:
targetvalue=10
iteration=0
while iteration<targetvalue:
  print("The iteration number is {}, which is less than the target value {}".format(iteration, targetvalue))
  if iteration==3:
    print("Condition met")
    break
  iteration=iteration+1

The iteration number is 0, which is less than the target value 10
The iteration number is 1, which is less than the target value 10
The iteration number is 2, which is less than the target value 10
The iteration number is 3, which is less than the target value 10
Condition met

Continue functions below

In [ ]:
targetv=5
iteration=0
while iteration<targetv:
  iteration=iteration+1
  if iteration==2:
    continue
  print("Iteration number is {}, which is less than the target value {}".format(iteration,targetv))

Iteration number is 1, which is less than the target value 5
Iteration number is 3, which is less than the target value 5
Iteration number is 4, which is less than the target value 5
Iteration number is 5, which is less than the target value 5

In [ ]:
names =["Mercy", "Anis", "Chris", "Israel"]
for name in names:
  if name=="Chris":
    continue
  print(name)

Mercy
Anis
Israel

Lists and Tuples allow for duplicates. Sets and Dictionaries do not allow duplicates.

Below is a list

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist[0]="John" #remember python positions begin at 0, so here Michael is being replaced at position 0.
print(mylist)

['John', 'Sean', 'Adam']

In [ ]:
mylist[0:2] #last position is never included

['John', 'Sean']

In [ ]:
print(len(mylist)) #what is the length of mylist

3

In [ ]:
print(type(mylist)) #what data type is mylist

<class 'list'>

In [ ]:
mylist=["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes the element is present")

Yes the element is present

Inserting an item in a specified position in a list below

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam']

Appending or adding an item to the end of a list below

In [ ]:
mylist.append("John")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam', 'John']

Combining lists to create a new lists below

In [ ]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Alex"]
mylist1.extend(mylist2)
print(mylist1)

['Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [ ]:
mylist3=["Halimo", "Farax", "Waalicas"]
mylist4=["Babatunde", "Fisayo"]
mylist4.extend(mylist3)
print(mylist4)

['Babatunde', 'Fisayo', 'Halimo', 'Farax', 'Waalicas']

Removing items from lists

In [ ]:
mylist4.remove("Fisayo")
print(mylist4)

['Babatunde', 'Halimo, Farax, Waalicas']

Using pop without specifying a position removes the last value below

In [ ]:
mylist4.pop()
print(mylist4)

['Babatunde', 'Fisayo', 'Halimo', 'Farax']

Using pop when specifying a position removes that specified item. Remember python positioning begins at 0. I did this below but turns out using pop removes the specified position forever! I only have Halimo left!

---



---

In [ ]:
print(mylist4)

['Halimo']

Below is to sort names in alphabetical order, then reverse alphabetical order.

In [ ]:
mylist5=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist5.sort(reverse=False)
print(mylist5)

['Adam', 'Alex', 'Michael', 'Sean', 'Zara', 'Zara']

In [ ]:
mylist5=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist5.sort(reverse=True)
print(mylist5)

['Zara', 'Zara', 'Sean', 'Michael', 'Alex', 'Adam']

Tried to remove the name Zara below by referring to its position. It hasn't worked.

In [ ]:
mylist5=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist5.remove[0]
print(mylist5)

TypeError: ignored

To remove an item, in this case Zara, below

In [ ]:
mylist5=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
for name in mylist5:
  if name=="Zara":
    mylist5.remove("Zara")
print(mylist5)

['Alex', 'Michael', 'Sean', 'Adam']

Another way of appending (adding) lists below

In [ ]:
mylist5=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist6=["Noun", "Adjectives", "Adverbs"]
mylist7=mylist5+mylist6
print(mylist7)

['Zara', 'Alex', 'Zara', 'Michael', 'Sean', 'Adam', 'Noun', 'Adjectives', 'Adverbs']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes the element is present")

An exercise Mercy gave us. Make a list of tech companies. Check if an element is there. If it isn't there, make Python input it. This is someone else's example

In [ ]:
socialmedia=["Facebook", "Twitter", "Instagram"]
searchedfor="TikTok"
if searchedfor in socialmedia:
  print ("Yes the company you searched for {} is in your social media".format(searchedfor))
else: 
  print("the company you are looking for is adding {}".format(searchedfor))
socialmedia.append("TikTok")
print(socialmedia)

the company you are looking for is adding TikTok
['Facebook', 'Twitter', 'Instagram', 'TikTok']

This is Mercy's answer. She creates a separate variable called element so the whole code does not need to be changed if adding more to the list.

In [ ]:
mylist8=["Meta","Google","Tesla","Snapchat"]
element=input("Please input tech co. name (Capitalised")
if element in mylist8:
  print("Tech company already exists")
else:
  mylist8.append(element)
  print("The new list is:", mylist8)

Please input tech co. name (CapitalisedTwitter
The new list is: ['Meta', 'Google', 'Tesla', 'Snapchat', 'Twitter']

List looping below

In [ ]:
mylist8=["Meta","Google","Tesla","Snapchat"]
for item in mylist8:
  print(item)

Meta
Google
Tesla
Snapchat

Element can also be used instead of item. The code below does the same as the code above

In [ ]:
mylist8=["Meta","Google","Tesla","Snapchat"]
for element in range(len(mylist8)):
  print(element, mylist8[element])

0 Meta
1 Google
2 Tesla
3 Snapchat

Squaring values by appending into an empty cell

b=[2,4,6,8,10,12]

In [ ]:
a=[1,2,3,4,5,6]
c=[]
for x in a:
  c.append(x*2)
print(c)

[2, 4, 6, 8, 10, 12]

Squaring values by list comprehension

In [ ]:
a=[1,2,3,4,5,6]
b=[x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36]

Exercise: write the word python. Output shoould be in the form of the list all in capitalised letters

In [ ]:
name=[letter.upper() for letter in "python"]
print(name)

['P', 'Y', 'T', 'H', 'O', 'N']

Adding to dictionaries

In [ ]:
mydict={"employee":"Zara","salary":5000}
mydict["department"]="sales"
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
if "department" in mydict:
  print("The key exists")

The key exists

Updating a dictionary below

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
mydict.update({"salary":6000,"level":3})
print(mydict)

{'employee': 'Zara', 'salary': 6000, 'department': 'sales', 'level': 3}

Removing all items from dictionary using clear

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
mydict.clear()
print(mydict)

{}

Removing an items from dictionary using delete

In [ ]:
mydict={"employee":"Zara","salary":5000,"department":"sales"}
del mydict["salary"]
print(mydict)

{'employee': 'Zara', 'department': 'sales'}

Tuples

In [ ]:
mytuples=("Audi", "Ford", "Tesla")
print(mytuples[2])

Tesla

Tuples cannot be changed. They have to be converted to a list then make the change there

In [ ]:
mytuples=("Audi", "Ford", "Tesla")
mylist9=list(mytuples)
mylist9[1]="BMW"
mytuples=tuple(mylist9)
print(mytuples)

('Audi', 'BMW', 'Tesla')

Sets. As sets are unordered, they cannot be accessed or manipulated using indexes.

In [ ]:
myset=["Apple","Banana"]
print(len(myset))

2